# Node / React
node_modules/
.build/
build/
dist/
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs
logs
*.log

# IDE/editor
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Misc
.env
.env.*
